example_yaml_files/laptop.yaml
*.ipynb
outputs*/*
plots*/*
.ipynb_checkpoints/*
__pycache__/*
agora/*
beams/*
outputs/*
*.zip
sim_150GHz
sim_220GHz
sim_90GHz
passbands_20220316/*
*~
.DS_Store/*
.DS_Store
testing.ipynb